@mixin flexContainer() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button() {
  cursor: pointer;
  background-color: #ffc8dd;
  border: none;
}

@mixin buttonClick() {
  transform: scale(0.98);
}
