@use '../styles/global' as globalStyles;

.Login {
  width: 100%;
  height: 100vh;
  @include globalStyles.flexContainer();
  background: linear-gradient(to right, blue, red);

  .Login-container {
    width: 30%;
    background-color: orange;
    box-shadow: 0 0 1em -0.2em #000;
    border-radius: 8px;
    padding: 2em 1em;
    .Login-error {
      color: red;
    }
  
    .form-group {
      margin: 2em 0;
    }
  
    input, button, label {
      display: block;
      width: 100%;
      font-size: 1.25em;
    }
    
    input, button {
      border-radius: 5px;
      padding: 0.5em 0;
      border: none;
    }

    .input-error-wrapper {
      min-height: 0.8em;
      color: #f00;
    }

    button {
      @include globalStyles.button();

      &:active {
        @include globalStyles.buttonClick();
      }
    }
  }
}