@use '../styles/global' as globalStyles;

.Login {
  width: 100%;
  height: 100vh;
  @include globalStyles.flexContainer();

  .Login-container {
    width: 30%;
    box-shadow: 0 0 1em -0.2em #000;
    border-radius: 8px;
    padding: 2em;

    .Login-header {
      @include globalStyles.flexContainer();
      letter-spacing: 1px;
      color: #333;
      font-family: cursive;
    }

    .Login-error {
      color: red;
    }
  
    .form-group {
      margin: 1em 0;
    }

    input, button, label {
      display: block;
      width: 100%;
      font-size: 1.25em;
    }
    
    input, button {
      border-radius: 5px;
      padding: 0.5em 0;
    }

    .input-error-wrapper, .submit-error-wrapper {
      min-height: 0.8em;
      color: #f00;
    }

    .submit-error-wrapper {
      @include globalStyles.flexContainer();
    }

    button {
      @include globalStyles.button();

      &:active {
        @include globalStyles.buttonClick();
      }
    }
  }

  .Login-register {
    @include globalStyles.flexContainer();
    margin-top: 0.5em;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}