@use '../../styles/global' as globalStyles;

.Login {
  font-family: 'Pacifico-Regular';
  width: 100%;
  height: 100vh;
  @include globalStyles.flexContainer();
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% 100vh !important;

  .Login-container {
    background-color: #fff;
    width: 30%;
    box-shadow: 0 0 1em -0.2em #000;
    border-radius: 8px;
    padding: 2em;

    .Login-header {
      @include globalStyles.flexContainer();
      letter-spacing: 1px;
      color: #333;
    }

    .Login-error {
      color: red;
    }
  
    .form-group {
      margin: 1em 0;
    }

    input, button, label {
      display: block;
      width: 100%;
      font-size: 1.25em;
    }

    input, button {
      border-radius: 5px;
      padding: 0.5em 0;
    }

    input {
      border: 1px solid #000;
      padding: 0.5em 0.2em;
    }

    .input-error-wrapper, .submit-error-wrapper {
      min-height: 0.8em;
      color: #f00;
    }

    .submit-error-wrapper {
      @include globalStyles.flexContainer();
    }

    button {
      @include globalStyles.button();
    }
  }

  .Login-register,
  .Login-forgotPassword {
    @include globalStyles.flexContainer();
    margin: 0.75em 0;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}