@use '../../styles//global.scss' as globalStyles;

.Clip {
  padding: 2em;
  box-shadow: 0 0 1em -0.1em #ffc8dd;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  .Clip-copied-overlay, .Clip-label-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffc8dd;
    @include globalStyles.flexContainer();
  }

  .Clip-data {
    @include globalStyles.flexContainer();
    width: 100%;
    height: 100%;
  }

  .Clip-copied-overlay {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
  }

  .Clip-label-overlay {
    z-index: 8;
  }

  .Clip-actions {
    position: absolute;
    width: 0%;
    height: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    right: 0;
    top: 0;
    z-index: 9;

    button {
      @include globalStyles.button();
      font-size: 1.5rem;
      background-color: #333;
      color: #fff;

      &:hover {
        background-color: #555;
      }

      &:active {
        transform: scale(0.95);
      }

      &.view {
        background-color: green;
        font-size: 1rem;
        padding: 0.25em 1em;

        &:hover {
          background-color: #38b000;
          transform: scale(1.1);
        }
      }
    }

    button.delete:hover {
      background-color: #f00;
      color: #fff;
    }
  }

  &:hover {
    .Clip-actions {
      width: auto;
      max-width: 80%;
      height: 100%;
    }
  }
}