.Navbar {
  background-color: #ffc8dd;

  .Navbar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Navbar-list {
      list-style: none;
      display: flex;

      .Navbar-link {
        text-decoration: none;
        color: #000;
        display: inline-flex;
        font-size: 16px;
        padding: 1rem 2em;

        &.active {
          background-color: #ff8fab;
          font-weight: bold;
        }
      }
    }
  }
}

